* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  display: block;
  max-width: 100%;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.woff2");
  font-weight: 100 900;
}
body {
  font-family: inter, sans-serif;
  padding-block: 2rem;
}

.wrappers__heads {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 1.5rem;
}

.heads__image {
  inline-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
  margin-block: 1rem;
}

.heads__title {
  font-size: clamp(3rem, -2rem + 8vw, 4rem);
  font-weight: 600;
  color: #253347;
  line-height: 1.1;
  text-align: center;
}

.heads__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #5e6e85;
  text-align: center;
}

.heads__below {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  margin-block: 2rem;
  padding: 1.5rem;
}

.below__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #253347;
  text-align: center;
}

.below__option {
  display: grid;
  grid-template-columns: repeat(2, minmax(8rem, 1fr));
  gap: 1.5rem;
}

.below__radios {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #253347;
  text-align: center;
  cursor: pointer;
}

.below__radio {
  appearance: none;
  -webkit-appearance: none;
  inline-size: 1.938rem;
  block-size: 1.938rem;
  border: 1px solid #5e6e85;
  box-shadow: 0.3px 0.3px 5px rgba(0, 0, 0, 0.3) inset, -0.3px -0.3px 4px rgba(0, 0, 0, 0.3) inset;
  border-radius: 50%;
}
.below__radio:hover, .below__radio:focus {
  border: 1px solid #345ff6;
  box-shadow: 0.3px 0.3px 5px rgba(52, 95, 246, 0.5) inset, -0.3px -0.3px 4px rgba(52, 95, 246, 0.5) inset;
  cursor: pointer;
}

.below__radio:checked {
  appearance: none;
  border: none;
  inline-size: 0.938rem;
  block-size: 0.938rem;
  background-color: #345ff6;
}

.below__details--metric {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.below__dates {
  inline-size: clamp(17.5rem, 0.25rem + 65.714vw, 29rem);
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e6e85;
  line-height: 1.2;
}

.below__box-i,
.below__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border: 1px solid #253347;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-block-start: 0.5rem;
}
.below__box-i:hover, .below__box-i:focus,
.below__box:hover,
.below__box:focus {
  border: 1px solid #345ff6;
  box-shadow: 0.3px 0.3px 5px rgba(52, 95, 246, 0.5) inset, -0.3px -0.3px 4px rgba(52, 95, 246, 0.5) inset;
  cursor: pointer;
}

.below__units {
  font-size: 1.5rem;
  font-weight: 600;
  color: #345ff6;
}

.below__inputs {
  flex: 1;
  min-width: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #253347;
  line-height: 1;
}

.below__imperial {
  display: grid;
  grid-template-columns: repeat(2, 8.25rem);
  justify-items: center;
  align-items: end;
  gap: 1rem;
}

.below__dates-i {
  color: #5e6e85;
  font-size: 0.875rem;
  font-weight: 400;
  inline-size: min(8.25rem, 100%);
  line-height: 1.2;
}

.below__inputs-i {
  inline-size: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #253347;
  line-height: 1;
}

.below__results {
  inline-size: clamp(17.5rem, 0.25rem + 65.714vw, 29rem);
  background-color: #345ff6;
  border-radius: 1rem;
  color: #ffffff;
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
}

.results__title {
  font-size: 1rem;
  font-weight: 600;
}

.results__score {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.results__details {
  font-size: 0.875rem;
  font-weight: 400;
}

.details__bold--met {
  font-size: 1rem;
  font-weight: 600;
}

.details__bold--imp {
  font-size: 1rem;
  font-weight: 600;
}

.below__welcome {
  inline-size: clamp(17.5rem, 0.25rem + 65.714vw, 29rem);
  background-color: #345ff6;
  border-radius: 1rem;
  color: #ffffff;
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
}

.welcome__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.welcome__description {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
}

.wrappers__means {
  margin-block: 2rem;
  display: grid;
  align-items: center;
  gap: 3rem;
  padding-inline: 1.5rem;
}

.means__descriptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.descriptions__title {
  font-size: clamp(2rem, 0.333rem + 2.963vw, 3rem);
  font-weight: 600;
  color: #253347;
}

.descriptions__lead {
  font-size: 1rem;
  font-weight: 400;
  color: #5e6e85;
}

.wrappers__suggests {
  display: grid;
  gap: 2.5rem;
  padding: 3rem 1.5rem;
}

.suggests__items {
  display: grid;
  gap: 2rem;
}

.suggests__text {
  display: grid;
  gap: 1.5rem;
}

.suggests__title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -5%;
  color: #253347;
}

.suggests__description {
  font-size: 1rem;
  font-weight: 400;
  color: #5e6e85;
}

.wrappers__limitations {
  inline-size: min(20.438rem, 100%);
  display: grid;
  gap: 1rem;
  padding-block: 5rem;
  padding-inline-start: 1.25rem;
}

.bmi__title {
  font-size: 2rem;
  font-weight: 600;
  color: #253347;
  margin-block-end: 2rem;
}

.bmi__lead {
  font-size: 1rem;
  font-weight: 400;
  color: #5e6e85;
}

.limitations__bmi {
  inline-size: min(20.438rem, 100%);
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.limitations__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.limitations__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #253347;
  letter-spacing: -5%;
}

.limitations__lead {
  font-size: 1rem;
  font-weight: 400;
  color: #5e6e85;
}

.display__none {
  display: none;
}

@media (min-width: 46em) {
  .wrappers__heads {
    padding-inline: 2.5rem;
    gap: 2.5rem;
  }
  .heads__title {
    inline-size: min(24rem, 100%);
  }
  .heads__below {
    justify-items: normal;
    gap: 2rem;
    margin: 2.5rem;
    /* padding: $space-400; */
  }
  .below__title {
    text-align-last: left;
  }
  .below__details {
    inline-size: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    gap: 1.5rem;
  }
  .below__details--metric {
    inline-size: max(38.875rem, 100%);
    grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
  }
  .below__dates {
    inline-size: clamp(18.75rem, -5.9167rem + 49.3333vw, 28rem);
  }
  .below__details--imperial {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(6.625rem, 1fr));
    justify-items: start;
  }
  .below__imperial {
    grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
    gap: 1.5rem;
  }
  .below__dates-i {
    inline-size: clamp(18.75rem, -5.9167rem + 49.3333vw, 28rem);
  }
  .below__results {
    inline-size: 100%;
    border-radius: 0.875rem 6.5rem 6.5rem 0.875rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
  }
  .below__welcome {
    inline-size: 100%;
    border-radius: 0.875rem 6.5rem 6.5rem 0.875rem;
    gap: 0.25rem;
    justify-items: start;
    align-items: center;
  }
  .wrappers__means {
    inline-size: 52.563rem;
    grid-template-columns: 27.813rem 20.688rem;
    gap: 2.5rem;
    translate: -12vi 0;
    padding: 0;
  }
  .descriptions__title {
    line-height: 1.2;
  }
  .wrappers__suggests {
    padding: 3.125rem 2.5rem;
  }
  .suggests__items {
    grid-template-columns: 4rem 1fr;
    gap: 2.5rem;
    align-items: center;
  }
  .wrappers__limitations {
    inline-size: clamp(42.875rem, 17.1875rem + 57.0833vw, 60rem);
    grid-template-columns: repeat(2, minmax(20.938rem, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem 1.5rem;
    justify-items: center;
    align-items: center;
    padding-inline: 0;
    margin-inline: auto;
  }
  .limitations__ofbmi {
    grid-column: span 2;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .limitations__gender {
    block-size: min(14.5rem, 100%);
  }
  .limitations__age {
    block-size: min(14.5rem, 100%);
    align-content: baseline;
  }
  .limitations__muscle {
    block-size: min(16rem, 100%);
    align-content: baseline;
  }
  .limitations__pregnancy {
    block-size: min(16rem, 100%);
  }
  .limitations__race {
    block-size: min(14.5rem, 100%);
    width: min(22.813rem, 100%);
    grid-column: span 2;
  }
}
@media (min-width: 75em) {
  body {
    padding-block: 5.5rem;
  }
  .wrappers__mains {
    inline-size: min(72.5rem, 100%);
    block-size: 35.25rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(35.25rem, 1fr));
    justify-items: start;
    align-items: start;
    gap: 2rem;
    margin-inline: auto;
  }
  .wrappers__heads {
    inline-size: min(35.25rem, 100%);
    justify-items: start;
    align-content: baseline;
    padding: 0;
  }
  .heads__image {
    margin: 0;
  }
  .heads__title {
    inline-size: min(31.875rem, 100%);
    text-align: left;
    margin-block-start: 64px;
  }
  .heads__below {
    inline-size: min(35.25rem, 100%);
    block-size: min(29.75rem, auto);
    padding: 2rem;
    margin: 0;
    align-self: end;
  }
  .below__details--metric {
    inline-size: min(31.125rem, 100%);
    grid-template-columns: repeat(2, minmax(14.875rem, 1fr));
  }
  .below__dates {
    inline-size: clamp(14.875rem, 14.8032rem + 0.0957vw, 15.5rem);
  }
  .below__details--imperial {
    inline-size: min(31.125rem, 100%);
    grid-template-columns: repeat(2, minmax(14.875rem, 1fr));
  }
  .below__imperial {
    grid-template-columns: repeat(2, minmax(14.875rem, 1fr));
  }
  .below__dates-i {
    inline-size: clamp(14.875rem, 14.8032rem + 0.0957vw, 15.5rem);
  }
  .wrappers__means {
    block-size: min(41.938rem, 100%);
    grid-template-columns: repeat(2, 1fr);
    inline-size: 100%;
    translate: 0 0;
    margin-inline: auto;
    padding-inline: 8.5rem;
  }
  .means__image {
    block-size: min(35.25rem, 100%);
    object-fit: cover;
    padding-block: 2rem;
    margin-block-start: 3rem;
  }
  .image__avatar {
    block-size: min(35.25rem, 100%);
    object-fit: contain;
  }
  .means__descriptions {
    inline-size: min(29.063rem, 100%);
    justify-self: end;
  }
  .descriptions__title {
    font-size: 3rem;
    font-family: 500;
    letter-spacing: -1px;
  }
  .wrappers__suggests {
    inline-size: min(72.438rem, 100%);
    grid-template-columns: repeat(3, minmax(22.813rem, 1fr));
    gap: 1.5rem;
    padding-block: 6rem;
    padding-inline: 0;
    margin-inline: auto;
  }
  .suggests__items {
    grid-template-columns: 1fr;
  }
  .wrappers__limitations {
    inline-size: min(72.5rem, 100%);
    margin-block: 6.5rem;
    margin-inline: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "bmi bmi bmi gender gender gender" " .   .  age age    muscle muscle" " . pregnancy pregnancy   race race   . ";
  }
  .limitations__ofbmi {
    grid-area: bmi;
    block-size: min(11.313rem, 100%);
    align-self: start;
  }
  .limitations__gender {
    grid-area: gender;
    block-size: min(14.5rem, 100%);
    inline-size: min(22.813rem, 100%);
  }
  .limitations__age {
    grid-area: age;
    block-size: min(11.5rem, 100%);
    inline-size: min(22.813rem, 100%);
  }
  .limitations__muscle {
    grid-area: muscle;
    block-size: min(11.5rem, 100%);
    inline-size: min(22.813rem, 100%);
  }
  .limitations__pregnancy {
    grid-area: pregnancy;
    block-size: min(14.5rem, 100%);
    inline-size: min(22.813rem, 100%);
  }
  .limitations__race {
    grid-area: race;
    block-size: min(14.5rem, 100%);
    inline-size: min(22.813rem, 100%);
  }
}
@media (max-width: 21.875em) {
  .heads__below {
    padding-inline: 0.25rem;
  }
  .heads__title {
    font-size: clamp(2rem, 0.5556rem + 8.8889vw, 2.5rem);
  }
  .heads__subtitle {
    font-size: clamp(0.8625rem, 0.4653rem + 2.4444vw, 1rem);
  }
  .below__box-i,
  .below__box {
    padding-inline: 0.25rem;
  }
  .below__dates {
    inline-size: clamp(15rem, 12.1111rem + 17.7778vw, 16rem);
  }
  .below__results {
    inline-size: clamp(15rem, 12.1111rem + 17.7778vw, 16rem);
  }
  .below__title {
    font-size: clamp(1.1rem, 0.5222rem + 3.5556vw, 1.3rem);
  }
}

/*# sourceMappingURL=style.css.map */
